div.example {
	border: 2px dotted #EEEEEE;
  margin-bottom: 20px;
  padding: 10px;
}
div.example .bs-wizard-sidebar {margin-top: 10px;}
div.post-abstract .date {font-weight: bold;margin-bottom: 10px}
div.post-abstract .page-header {margin-top: 10px; margin-bottom: 20px;}