body {
    padding-top: 50px;
    position: relative;
}
.inv {display: none;}
.my-nav-bar {
    background-color: #563D7C;
}
.my-nav-bar .navbar-nav > li > a {
    color: #CDBFE3;
}
.my-nav-bar .navbar-nav > li > a:hover {
    color: #FFFFFF;
}
.my-nav-bar .navbar-nav > .active > a, .my-nav-bar .navbar-nav > .active > a:hover {
    background-color: #463265;
    color: #FFFFFF;
}
.my-nav-bar .navbar-toggle {
    border-color: #563D7C;
}
.my-nav-bar .navbar-toggle:hover {
    background-color: #463265;
    border-color: #463265;
}
div.example {
	border: 2px dotted #EEEEEE;
  margin-bottom: 20px;
  padding: 20px;
}
div.example h3 {margin-top: 5px;}
div.example .bs-wizard-sidebar {margin-top: 10px;}
div.post-abstract .date {font-weight: bold;margin-bottom: 10px}
div.post-abstract .page-header {margin-top: 10px; margin-bottom: 20px;}

div.example select, div.example input[type="text"], div.example input[type="password"] {
    width: 240px;
}

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  margin-top: 20px;
}

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

.popover.error-popover {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    box-shadow: none;
    color: #B94A48;
    cursor: pointer;
    max-width: none;
}
.popover.error-popover .popover-content {
    padding: 6px 14px;
}
.popover.error-popover.right .arrow {
    border-right-color: #EED3D7;
}
.popover.error-popover.right .arrow:after {
    border-right-color: #F2DEDE;
}

.post-abstract {padding-bottom: 20px;}

.panel-heading h3.panel-title { margin-top: 0;}
.bs-step-inner > .col-lg-6 {padding-left: 0;}
#locale-wrapper {margin-left: 10px;}
#locale-wrapper input, #locale-wrapper label {display: block; float: left;}
#locale-wrapper input {padding-top:5px; margin-left: 15px;}
#locale-wrapper label {margin-left: 5px; font-weight: normal;}

#website-pages.table-condensed thead > tr > th {font-weight: normal;}
#website-pages.table-condensed thead > tr > th:first-child,
#website-pages.table-condensed tbody > tr > td:first-child {
  padding-left: 0;
}
#website-pages.table-condensed tbody > tr > td.i-td {padding-top: 10px;}
.bs-step-inner h3 {
  font-size: 14px;
  font-weight: bold;
}
.info-td {width: 200px;}
