<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="//rawgithub.com/aFarkas/html5shiv/master/dist/html5shiv.js"></script>
      <script type="text/javascript" src="//rawgithub.com/scottjehl/Respond/master/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//rawgithub.com/blairvanderhoof/gist-embed/master/gist-embed.js"></script>
    {% for item in page.js %}
      {% if item == 'jQuery.validate' %}
      <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
      {% elsif item == 'bs-wizard' %}
      <script type="text/javascript" src="//rawgithub.com/mingliangfeng/bs-wizard/master/dist/bs-wizard-min.js"></script>
      {% elsif item == 'jvb.popover' %}
      <script type="text/javascript" src="//rawgithub.com/mingliangfeng/jquery.validate.bootstrap.popover/master/dist/jquery.validate.bootstrap.popover.min.js"></script>
      {% else %}
      <script type="text/javascript" src="{{ site.url }}/assets/js/{{ item }}.js"></script>
      {% endif %}
    {% endfor %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css"-->
    <link href="{{ site.url }}/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ site.url }}/assets/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    {% for item in page.css %}
      <link href="{{ site.url }}/assets/css/{{ item }}.css" rel="stylesheet" type="text/css" media="all">
    {% endfor %}

    <!-- Le fav and touch icons -->
    <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <header role="banner" class="navbar navbar-inverse navbar-fixed-top my-nav-bar">
      <div class="row top-banner">
        <div></div><div></div><div></div><div></div>
      </div>
      <div class="container">
        <div class="navbar-header">
          <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Andrew Feng</a>
        </div>
        <nav role="navigation" class="navbar-collapse bs-navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </nav>
      </div>
    </header>

    <div class="container body-container">

      <div class="content">
        {{ content }}
      </div>
      <hr>
      <footer>
        <p>
          &copy; {{ site.time | date: '%Y' }} {{ site.author.website }}
          <a href="https://github.com/{{site.author.github}}"><i class="icon-github-alt"></i></a>
        </p>
      </footer>

    </div>

    {% include JB/analytics %}
  </body>
</html>
